@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(http://7xld7n.com1.z0.glb.clouddn.com/PTSerif-Regular.woff) format('woff');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local('PT Serif Bold'), local('PTSerif-Bold'), url(http://7xld7n.com1.z0.glb.clouddn.com/PTSerif-Bold.woff) format('woff');
}
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local('PT Serif Italic'), local('PTSerif-Italic'), url(http://7xld7n.com1.z0.glb.clouddn.com/PTSerif-Italic.woff) format('woff');
}
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 700;
  src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url(http://7xld7n.com1.z0.glb.clouddn.com/PTSerif-BoldItalic.woff) format('woff');
}
