@charset "utf-8";

/* a标签样式 */
a {
  text-decoration: none;
  font-size: 16px;
}

a:link {
  color: #1077BC;
}

a:hover {
  color: #FF6699;
  text-decoration: none;
}

a:active {
  color: #FF6699;
  text-decoration: none;
}

a.brand {
  height: auto;
}

.navbar-brand {
  font-size: 25px;
  font-style: normal;
}

body > .nav-container {
  padding: 15px 20px;
  margin: 20px 120px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background-color: #ffffff;
}

.container {
	padding-top: 20px;
}

.content {
  padding: 15px 40px;
  margin-bottom: 80px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background-color: #ffffff;
}

.highlight pre, code {
  font-size: 15px;
  font-family: "DejaVu Sans Mono";
  background-color: #272822;
  color: #e0e0e0;
}

.date {
  font-size: 18px;
  font-weight: normal;
  color: #606060;
}

.page-content {
  font-size: 16px
}