html { background:#fff; }
body{background-image:url(text.txt); /* for IE6 */
background-attachment:fixed;}
body, p, ul, li, h1, h2, h3, h4, h5, h6,dl,dt,dd{ margin:0; padding:0; }
body { font:14px "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu; position:relative;}
ul, li { list-style:none; }
a { text-decoration:none; color:#333; }
img { border:0; }
.clear{clear:both; height:1px; overflow:hidden; margin:-1px;}
#head { width:1000px; overflow:hidden; margin:auto; background:#000; border-top:4px solid #44CBF4;}
#head .top {display:none; }
#head .main { height:90px; }
#logo { float:left; width:250px; height:90px; }
#head .right { float:right; width:728px; height:90px; }
#nav { height:45px; background:#222; text-align:center; }
#nav ul { line-height:45px;}
#nav li{ float:left; width:67px; height:45px; border-right:2px solid #1A1A1A; color:#189CE2;}
#nav li a { color:#fff; font-size:12px; display:block; width:100%; line-height:42px; height:42px; border-bottom:3px solid #44CBF4; }
#nav li.home{width:55px;}
#nav li.home a { background:#666; }
#nav li.other{width:auto; margin-left:10px; margin-left:10px; padding-left:10px; border-left:1px dotted #999;}
#nav li.other a{width:auto; margin:0 10px 0 0; padding:0 10px; display:inline;}
#nav li.end {width:46px; border-right:none;}
#nav li.end a { background:none; color:#44CBF4; }
#nav li.current, #nav li a:hover { background:#44CBF4; color:#fff;}

iframe{display:block; margin:auto;}


#main{margin-top:10px;}

/*

首字母大写通常为布局类名
“.Row20”表示 大区域 分割为2列 第0种样式 0为默认
结尾为0的 默认没有样式 用于配合父元素

*/

.Row11,
.Row21,.Row22,
.Row31,.Row32,.Row33,
.Row41{margin:auto; width:1000px; clear:both;}

/*纯净 无样式 无宽高 用于配合父元素*/
.Row10{}
.Row20{}
.Box0{}
.Left0{}
.Right0{}

/* 2列 第1种 配合Box0使用 左右等分 */
.Row21{}
.Row21 .Box0 { width:490px; overflow:hidden; float:left; margin:0 5px;}
/* 2列 第2种 左大右小 列表页用 */
.Row22{ position:relative;}
.Row22 .Left0{width:700px;float:left;}
.Row22 .Right0{width:300px;float:left;}
.Row22 .Left0 .list1{ border-right:1px solid #D1D1D1;}

/* 3列 第1种 左中右布局 用于内容页摘要区及广告位 */
.Row31 {background:#189CE2; height:260px; overflow:hidden; margin-bottom:10px;}
.Row31 .Box0{ width:250px; height:250px; border:5px solid #189CE2; float:left; background:#F7F7F7;}
.Row31 .Center0{width:480px; min-height:20px; overflow:hidden; position:relative; float:left; font-size:16px; color:#fff;}
.Row31 .Center0 .list1{margin-top:4px;}
/* 立体视觉效果 */
.Row31 .Center1{ border-left:40px solid  #189CE2; border-right:40px solid #189CE2; border-top:40px solid #fff; border-bottom:40px solid #DDD; padding:10px; height:160px; width:380px; overflow:hidden; position:relative; float:left; font-size:16px; color:#fff;}

/* 3列 第2种 左中右等分 */
.Row33 {}
.Row33 .Box0{ float:left; width:330px; padding:0 3px; margin:0 -2px 0 -1px; position:relative;}

/* 4列 第1种 左中右等分 */
.Row41 {}
.Row41 .Box0{ float:left; width:250px;}

/* 标题类型1 */
.title1 { font-size:14px; line-height:35px; border-bottom:3px solid #189CE2; position:relative;}
.title1 a { color:#189CE2; font-weight:700; }
.title1 .more { display:inline-block; text-align:right; position:absolute; right:10px;}
.title1 a:hover { text-decoration:underline; color:#F0F;}
.title1 span { display:inline-block; padding:0 20px; min-width:60px; text-align:center; cursor:pointer;}


/* 列表类型1 */
.list1 { width:100%; margin-bottom:10px; display:block; background:#F7F7F7; position:relative;}
.list1 li {line-height:35px; margin:0 10px; *position:relative; _margin-bottom:-6px; display:block; overflow:hidden;height:35px; border-bottom:1px solid #D1D1D1; clear:both;}
.list1 li a { display:block; overflow:hidden; white-space:nowrap; background:#F7F7F7;}
.list1 li a:hover { background:#FFF; color:#189CE2;}
/* 带栏目名称 */
.list1 li .c{ width:16%; float:left; text-align:center;*position:relative;}
.list1 li .t{ width:84%; float:right; text-indent:5px; border-left:1px dashed #D1D1D1; margin-left:-1px;*position:relative;}
.list1 li .c a{ font-size:12px; color:#189CE2; overflow:hidden; line-height:35px; height:35px; width:90%; display:inline-block; background:#F7F7F7; position:relative; z-index:99;}
.list1 li .c a:hover{color:#F0F;width:auto; overflow:visible; _position:absolute; padding-right:5px; font-weight:bold;}

/* 列表类型2  小列表 */
.list2 { padding:0 5px; margin-bottom:10px; display:block;}
.list2 li { font-size:12px; height:25px; overflow:hidden; display:block;}
.list2 li a { display:block; height:23px; line-height:23px; border-bottom:1px solid #189CE2; color:#000; white-space:nowrap; overflow:hidden;}
.list2 li a:hover { color:#189CE2;}

/* 列表类型3 彩色序号 */
.list3 { margin-bottom:10px; width:100%; display:block; background:#F7F7F7;}
.list3 li {line-height:35px; height:35px; width:100%; overflow:hidden; border-bottom:1px solid #D1D1D1;}
.list3 li a { display:inline-block; white-space:nowrap; margin-right:5px;}
.list3 li em a{color:#fff;}
.list3 li a:hover { color:#F0F; }
.list3 li em{ background:#444; color:#fff; display:inline-block; min-width:16px; padding:0 5px; text-align:center; margin:0 5px 0 0;}

.list3 li em.n1{ background:#d00;}
.list3 li em.n2,.list3 li em.n3{ background:#f40;}
.list3 li p{display:inline-block; margin:0 0 0 auto; width:auto;}

.pic_list1{ padding:10px 0;}
.pic_list1 li{width:140px; float:left;}
.pic_list1 li a{ display:block;}
.pic_list1 li a:hover{ background:#FF9;}
.pic_list1 li a img{display:block; width:130px; height:130px; margin:5px auto; border:1px solid #ddd;}
.pic_list1 li.clear{float:none;}

/*顶部 广告位 */
.LY_GG_0{display:none;}
.LY_GG_0 h2{text-align:center;background:#000; color:#fff; line-height:40px; position:relative; font-size:14px; font-weight:100;}
.LY_GG_0 h2 span{display:inline-block; padding:0 10px; position:absolute; right:0; text-decoration:underline; cursor:pointer;}
.LY_GG_0 a{cursor:default}
/*
.LY_GG_0 a{display:block; background:#189CE2; border:1px solid #fff; margin:-1px; height:125px; line-height:125px; text-align:center;}
.LY_GG_0 .big{height:250px;}
*/

/*头部 圆球按钮 */
.BtnBox1{}
.BtnBox1 p{text-align:center;}
.BtnBox1 a{ float:left;width:80px; height:80px; overflow:hidden; line-height:80px; font-size:15px; margin:5px 0 5px 5px; color:#fff;}
.BtnBox1 a span{display:block; width:80px; height:80px; overflow:hidden; background:url(../i/btn00.png); cursor:pointer;}
.BtnBox1 a span b{display:block;}
.BtnBox1 a.a1{ background:#D00;}
.BtnBox1 a.a2{ background:#F60;}
.BtnBox1 a.a3{ background:#FF0; color:#000;}
.BtnBox1 a.a4{ background:#0F0; color:#000;}
.BtnBox1 a.a5{ background:#090;}
.BtnBox1 a.a6{ background:#00F;}
.BtnBox1 a.a7{ background:#C0F;}
.BtnBox1 a:hover{ background:#fff; font-size:12px; line-height:18px; color:#000;}
.BtnBox1 a:hover span b{ background:#000; color:#fff; line-height:24px; margin-bottom:5px;}

.search{width:280px; padding:25px 0 0 15px; float:left;}
.search .text{ border:2px solid #44CBF4; color:#0C0; width:210px; height:28px; text-indent:5px; font-size:14px; margin:0; padding:0; float:left;}
.search .submit{ width:45px; height:32px; background:#189CE2; color:#FFF; border:0; margin:0; padding:0; float:left;}

.Row31 .Center1 .search{width:350px;}
.Row31 .Center1 .search .text{ border:2px solid #bbb; width:300px;}
.Row31 .Center1 .search .submit{ background:#666;}

/* Tab切换效果 */
.switchTab .Box0,.switchTab2 .Box0{ position:relative; height:398px; margin-bottom:10px;}
.class1 span.class1,.class2 span.class2,.class1 span.class1 a,.class2 span.class2 a{ background:#189CE2; color:#fff;  cursor:default;}
.switchTab .class1 ul.class1,.switchTab .class2 ul.class2,.switchTab2 .class1 ul.class1,.switchTab2 .class2 ul.class2 { display:block; }
.switchTab .class1 ul.class2,.switchTab .class2 ul.class1,.switchTab2 .class1 ul.class2,.switchTab2 .class2 ul.class1 { display:none; }

/* 图片列表2 */
.pic_list2{ padding:10px 0;}
.pic_list2 li{width:200px; float:left; margin-bottom:10px;}
.pic_list2 li a{ display:block; height:234px; overflow:hidden; padding:5px; border:5px solid #FF6; font-size:14px;}
.pic_list2 li a img{display:block; height:180px; margin:0 auto 9px;}
.pic_list2 li a:hover{ border-color:#189CE2; color:#d00;}
.pic_list2 li.clear{float:none;}


/* 书籍内容页 */
.book_show{height:310px; text-align:center; font-size:18px; line-height:40px;}
.book_show dt{width:250px; float:left; padding-top:5px;}
.book_show dd{width:450px; float:right; position:relative;}
.book_show h1{ height:110px; font-size:24px; padding-top:25px; text-align:left; color:#189CE2;}
.book_show b{color:red; margin-right:25px;}
.book_show del{color:#bbb;}
.book_show .btn{display:block; text-align:center; margin:auto; width:180px; font-weight:bold; line-height:40px; font-size:18px; background:#F00; color:#fff;}

/* 图片列表3 侧栏  */
.pic_list3{width:100%; margin-bottom:10px; display:block;}
.pic_list3 li{ display:block; overflow:hidden; border-bottom:1px solid #D1D1D1;}
.pic_list3 li a{position:relative; display:block;height:80px; padding:5px 5px 5px 90px; font-weight:bold;}
.pic_list3 li a img{position:absolute; left:0; top:0; width:80px; height:80px; padding:5px;}
.pic_list3 li a:hover{ background:#F7F7F7; color:#f00;}


/* 图片列表4 侧栏 左侧抽屉  */
.pic_list4{width:100%; display:block;}
.pic_list4 li{ width:270px; display:inline-block; overflow:hidden; border-bottom:1px solid #D1D1D1;}
.pic_list4 li a{position:relative; display:block;height:80px; padding:5px 80px 5px 5px; font-size:16px; font-weight:bold;}
.pic_list4 li a img{position:absolute; right:0; top:0; height:80px; padding:5px;}
.pic_list4 li a:hover{ background:#FF6; color:#f00;}



/* 文本样式1 */
.text1{border:4px solid #189CE2; font-size:20px; margin-bottom:10px;}
.text1 a{color:#189CE2;}
.text1 a:hover{color:red;}

/* 文本样式2 */
.text2{background:#189CE2; margin:0 auto 10px; font-size:12px; line-height:22px;}
.text2 *{color:#fff; margin:0 3px;}

/* 文本样式3 */
.text3{line-height:30px; background:#000; color:#fff; font-size:12px;}

/* 头部广告定位 */
#head_gg{position:absolute; right:0; top:3px;/* width:728px; height:90px;*/}


#Article #title { font-size:20px; display:block;white-space:nowrap; line-height:50px; text-align:center; color:#189CE2; }

#Article .Content { font-size:14px; line-height:18px; padding:20px; margin:10px 0; border:1px solid #189CE2; _width:998px; _overflow:hidden;}
#Article .Content p { padding:5px; }
#Article .Content p a{color:#189CE2; text-decoration:underline; font-weight:bold;}
#Article .Content img { margin:10px; }
#Article .Content .gg {clear:both; text-align:center; width:700px; height:310px; margin:auto; padding:5px 0 10px;}
#Article .Content .gg  *{float:left;}
.Content .list1{ margin-top:10px;}

/*暂时不用*/
#keywords { margin-bottom:10px; line-height:24px; }
#keywords a { margin:0 5px; padding:0 10px; display:inline-block; border:1px solid #189CE2; }
#keywords a:hover { background:#189CE2; color:#fff; }


#pages { text-align:center; padding:20px;}
#pages a { background:#189CE2; color:#fff; padding:0 8px; margin:5px; display:inline-block; }

/*jquery漂浮对联*/
.fixediv{z-index:9999;}
/* 左侧抽屉 */
#floater1{width:650px; height:370px; margin-left:-700px; position:relative;}
.floater1{left:0;}
.floater2{right:5px; margin-top:100px;}

.floater1 #display{width:640px; height:360px; overflow:hidden; position:relative; border:5px solid #189CE2; float:left; background:#FFF;}
.floater1 .Box0{width:640px; height:360px; overflow:hidden;}
.floater1 .Box0 .Ban{width:320px; float:left;}

.floater1 .buttons{width:100px; float:left; margin-right:-110px;}
.floater1 .buttons li{ display:block; text-align:center; padding:10px 0 10px 75px; line-height:18px; background:#666; color:#fff; border-bottom:1px solid #fff; border-right:1px solid #fff;}
.floater1 .buttons li.current{ background:#189CE2;}


#QQkf{width:45px; height:100px;background:url(../i/QQkf_1.png) no-repeat right bottom; margin-bottom:4px; position:relative; z-index:99999;}
#QQkf a{color:#ff0;}
#QQkf dl{ display:none; width:0; height:0; overflow:hidden;position:absolute; padding:10px; right:45px; bottom:5px; background:#053; color:#fff; border:10px groove #FC0;}
#QQkf dt{white-space:nowrap; font-size:18px; font-weight:bold; text-align:center; color:#44CBF4;}
.QunTable{border-collapse:collapse;border:none;width:100%;height:100%;}
.QunTable td{border:1px solid #aaa;}
.QunTable b{ color:#f60;}

#QQkf.open{background-image:url(../i/QQkf_2.png);}
#QQkf.open dl{}
.floater2 .btn{ display:block; width:45px;line-height:35px; text-align:center; margin-bottom:5px; background:#189CE2; border:1px solid #189CE2; color:#FFF;}
.floater2 .btn:hover{ background:#fff; color:#189CE2;}
.floater2 .gotop {width:47px; height:47px; display:block; background:url(../i/top01.png) no-repeat; }
.floater2 .gotop:hover { background-image:url(../i/top02.png); }

/*加群链接*/
.Qqun_url1{display:block; text-align:center; padding-top:5px; color:#FF9;}
.Qqun_url1 img{border:4px solid #fff;}
.Qqun_url1:hover img{border-color:#FF0;}
.Content .Qqun_url1{color:red; padding:10px;}
.Center1 .Qqun_url1{position:absolute; left:0; bottom:8px; width:100%;}

/* 底部-固定漂浮 */
#bottomNav {color:#fff; text-align:center;z-index:999;position:fixed;bottom:0;left:0;width:100%;_position:absolute; /* for IE6 */_top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); /* for IE6 */overflow:visible;}
#bottomNav .Box0{height:0; position:relative;}
#bottomNav .bg{ background:#000; width:100%; height:100%; position:absolute; top:0; filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;}
#bottomNav .NavList{ width:100%; height:100%;position:absolute; top:0; text-align:center;}
#bottomNav .NavList div{ display:inline-block; width:160px;}
#bottomNav .NavList a{display:inline-block; width:16px; margin-top:18px;}
#bottomNav .NavList a span{color:#FFF; line-height:18px; display:inline-block; width:70px; margin:0 -32px;}
#bottomNav .NavList a b{ display:block; width:16px; height:36px; margin:0 auto; color:#FF6; font-weight:100; font:9px "arial"; line-height:36px;}

#bottomNav .NavList a:hover{width:100px; display:inline-block;}
#bottomNav .NavList a:hover span{ background:#189CE2; margin:0;}
#bottomNav .NavList a:hover b{ width:30px; font-size:30px;}


#bottomNav .gotop{width:29px; height:30px; margin-top:-25px; display:inline-block; background:url(../i/gotop.gif) no-repeat center top;}

#foot{padding-bottom:125px;}
#foot .text3{ border-bottom:4px solid #44CBF4; margin:0 auto -22px; position:relative; height:30px; overflow:hidden; text-align:center;}